body{
  background-color: #F7C3AA;
  font-family : 'Open Sans', sans-serif;
  color : rgb(80, 80, 80);
}

#sidebar {
  position: fixed;
  width: 70px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: grey;
}

.list-no-bullet{
  list-style-type: none;
  padding : 0px;
  text-align: center;
}

#sidebar a {
  font-size: 45px;
}


#page-content {
  margin-left: 70px;
}

.card{
  background-color: #F08755;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 770px;
  font-size: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-thin{
  width: 450px;
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}


h1{
  color : rgb(110, 30, 60);
  font-family : 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
}

h2{
  color : rgb(60, 60, 60);
  font-family : 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

h3{
  color : rgb(30, 30, 30);
  font-family : 'Roboto', sans-serif;
  opacity: 0.7;
  font-size: 20px;
}

a{
  color : rgb(110, 30, 60);
  text-decoration: none;
  opacity: 0.6;
}

a:hover{
  opacity: 1;
}
